//dimensions
$container-width: 1000px;

//colors
$mock-bg: #f2f2f2;
$mock-bg-dark:#dddddd;
$main-font:#333333;
$main-blue:#20a0e4;
$main-blue-dark:#1464bd;
$main-green:#2DBB88;

//font
$font-size-sm:12px;
$font-size-normal:14px;
$font-size-large:16px;
$font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
