<section class="card-list">
    <div class="card-list-wrap-top">
        <div class="left">
            <div class="card card-h">
                <a href="#" class="bg-wrap"></a>
            </div>
            <div class="card card-h">
                <a href="#" class="bg-wrap"></a>
            </div>
        </div>
        <div class="right">
            <div class="card card-v">
                <a href="#" class="bg-wrap"></a>
            </div>
        </div>

    </div>
    <div class="card-list-wrap-middle">
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-n">
            <a href="#" class="bg-wrap"></a>
        </div>
    </div>
      <div class="card-list-wrap-bottom">
        <div class="card card-h-s">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-h-s">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-h-s">
            <a href="#" class="bg-wrap"></a>
        </div>
        <div class="card card-h-s">
            <a href="#" class="bg-wrap"></a>
        </div>

      </div>

</section>
