<footer>
    <div class="footer-wrap">
        <div class="about">
            <div class="left"></div>
            <div class="right">
                <p>华为技术有限公司是一家生产销售通信设备的民营通信科技公司，总部位于中国广东省深圳市龙岗区坂田华为基地。华为的产品主要涉及通信网络中的交换网络、传输网络、无线及有线固定接入网络和数据通信网络及无线终端产品，为世界各地通信运营商及专业网络拥有者提供硬件设备、软件、服务和解决方案。</p>
                <div class="right-bottom">
                    <a class="btn btn-blue"><i class="icon fontawesome-envelope"></i> 客户服务</a>
                </div>
            </div>
        </div>
        <div class="site-map">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="" />
            </div>
            <div class="map">
                <ul>
                    <li class="title">商务指南</li>
                    <li>低温营业用房</li>
                    <li>低温营业用房</li>
                    <li>低温营业用房</li>
                </ul>
                <ul>
                    <li class="title">产品信息</li>
                    <li>环境试验室，化验室</li>
                    <li>食品厂</li>
                    <li>预制冰箱，冰柜</li>
                    <li>预制冰箱，冰柜</li>
                    <li>工业洁净室</li>
                    <li>表面材料清单</li>
                    <li>表面材料清单</li>
                    <li>农业的冷藏箱“金库拉”</li>
                    <li>表面材料清单</li>
                    <li>表面材料清单</li>
                    <li>VIXDUX</li>
                    <li>表面材料清单</li>
                </ul>
                <ul>
                    <li class="title">公司信息</li>
                    <li>历史</li>
                    <li>公司简介</li>
                    <li>使命</li>
                    <li>销售和生产基地</li>
                    <li>集团公司介绍</li>
                    <li>历史</li>
                </ul>
                <ul>
                    <li class="title">招聘</li>
                    <li>常问问题</li>
                    <li>查询</li>
                    <li>通知</li>
                </ul>
                <ul>
                    <li class="title">下载</li>
                    <li>常问问题</li>
                    <li>查询</li>
                    <li>通知</li>
                </ul>
            </div>

        </div>
        <div class="copyright">
            <div class="left">
                <p>
                    ©华为技术有限公司，保留所有权利。
                </p>
            </div>
            <div class="right">
                <ul>
                    <li><a href="">隐私政策</a></li>
                    <li><a href="">用户条款</a></li>
                    <li><a href="">法律信息</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
