<header>
  <div class="inner-left">
    <div class="logo">
      
    </div>
    
  </div>
  <div class="inner-right">
    <div class="inner-right-up">
      <div class="left">
        <ul>
          <li><i class="icon entypo-right-open"></i><span class="text">亚洲集团分部网站</span></li>
          <li><i class="icon entypo-right-open"></i><span class="text">常见问题</span></li>
        </ul>
      </div>
      
      <div class="right">
        <a href="#">欢迎光临本网站</a>
      </div>
      
    </div>
    <div class="inner-right-down">
      <nav>
        <span class="nav-item"><a href="#">通知</a></span>
        <span class="nav-item"><a href="#">商务指南</a></span>
        <span class="nav-item"><a href="#">产品信息</a></span>
        <span class="nav-item"><a href="#">下载</a></span>
        <span class="nav-item"><a href="#">公司信息</a></span>
        <span class="nav-item"><a href="#">企业社会责任</a></span>
        <span class="nav-item"><a href="#">招聘</a></span>
      </nav>
      <a class="btn btn-blue"><i class="icon fontawesome-envelope"></i> 联系</a>
    </div>
    
  </div>
</header>