<section class="icon-list">
    <div class="icon-row full">
        <div class="title-box bg-blue-dark">
            <p>
                低温<br>空间
            </p>

        </div>
        <ul>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
        </ul>
    </div>
    <div class="icon-row half">
        <div class="title-box bg-blue">
            <p>
                低温<br>空间
            </p>

        </div>
        <ul>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
        </ul>
    </div>
    <div class="icon-row half">
        <div class="title-box bg-green">
            <p>
                低温<br>空间
            </p>

        </div>
        <ul>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
            <li><img src="/assets/img/icon.svg" alt=""><span class="sub-title">	冷蔵庫・冷凍庫</span></li>
        </ul>
    </div>

</section>
