<section class="news_list">
  <div class="title-bar">
    <div class="title">
      <h3>最新动态</h3>
    </div>
    <div class="more">
      <a href="#" class="btn btn-default"><i class="icon entypo-right-open"></i> 更多</a>
    </div>
  </div>
  <div class="lists">
    <ul>
      <li><span class="date">2016-7-4</span> <span class="news-title"> <i class="icon entypo-right-open"></i> <a href="#">企业网站更新公告</a></span></li>
      <li><span class="date">2016-7-4</span> <span class="news-title"> <i class="icon entypo-right-open"></i> <a href="#">我们将在第二届亚太冷链展展出2016年（亚洲冷链展2016）</a></span></li>
      <li><span class="date">2016-7-4</span> <span class="news-title"> <i class="icon entypo-right-open"></i> <a href="#">在日本显示像第六代液晶显示屏工厂采用不燃GENESTAR系统天花板（石川县白山市）</a></span></li>
      
    </ul>
  </div>
</section>