@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|iconicfill|iconicstroke);
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    color: #20a0e4; }

.icon {
  padding: 3px;
  color: #20a0e4;
  font-size: 18px;
  font-style: normal; }

ul li {
  list-style: none; }

.bg-blue {
  background-color: #20a0e4; }

.bg-blue-dark {
  background-color: #1464bd; }

.bg-green {
  background-color: #2DBB88; }

.half {
  width: 50%; }

.full {
  width: 100%; }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif; }

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif; }

header {
  max-width: 1000px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .inner-left {
    flex-basis: 131px; }
    header .inner-left .logo {
      width: 130px;
      height: 90px;
      background-color: #f2f2f2; }
  header .inner-right {
    width: 820px;
    height: 90px;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    header .inner-right .inner-right-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 325px;
      height: 27px; }
      header .inner-right .inner-right-up .left ul li {
        display: inline-block;
        font-size: 12px;
        padding-right: 5px; }
        header .inner-right .inner-right-up .left ul li i {
          display: inline-block;
          vertical-align: middle; }
        header .inner-right .inner-right-up .left ul li .text {
          display: inline-block;
          vertical-align: middle; }
    header .inner-right .inner-right-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 45px; }
      header .inner-right .inner-right-down nav .nav-item {
        display: inline-block;
        padding-right: 20px; }
        header .inner-right .inner-right-down nav .nav-item:first-child {
          padding-left: 20px; }
        header .inner-right .inner-right-down nav .nav-item a {
          color: #333333;
          font-size: 15px;
          font-weight: bold; }

.main_visual {
  width: 100%; }
  .main_visual .visual_inner {
    max-width: 1400px;
    min-width: 1000px;
    height: 400px;
    margin: 0 auto 30px;
    overflow: hidden;
    background-color: #f2f2f2; }

.news_list {
  max-width: 1000px;
  margin: 10px auto; }
  .news_list .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .news_list .lists ul {
    padding: 15px 0; }
    .news_list .lists ul li {
      margin-bottom: 4px; }
      .news_list .lists ul li .date {
        display: inline-block;
        padding-right: 25px;
        font-size: 14px; }
      .news_list .lists ul li .news-title a {
        font-size: 14px; }

.icon-list {
  display: flex;
  max-width: 1000px;
  margin: 10px auto;
  flex-wrap: wrap; }
  .icon-list .icon-row {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: flex-start; }
    .icon-list .icon-row .title-box {
      display: table;
      position: relative;
      width: 80px;
      height: 130px;
      overflow: hidden; }
      .icon-list .icon-row .title-box p {
        display: table-cell;
        position: relative;
        color: #fff;
        text-align: center;
        vertical-align: middle; }
      .icon-list .icon-row .title-box:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 80px;
        height: 130px;
        -ms-transform: matrix(1, 0.61538, -0.61538, 1, 0, 0);
        transform: matrix(1, 0.61538, -0.61538, 1, 0, 0);
        -ms-transform-origin: top right;
        transform-origin: top right; }
    .icon-list .icon-row ul {
      padding-left: 30px; }
      .icon-list .icon-row ul li {
        display: inline-block;
        max-width: 150px;
        padding: 0 15px; }
        .icon-list .icon-row ul li img {
          display: block;
          margin: 0 auto; }
        .icon-list .icon-row ul li span {
          display: block;
          text-align: center; }

.bg-blue-dark:before {
  background-color: #2c74c4; }

.bg-blue:before {
  background-color: #37aae7; }

.bg-green:before {
  background-color: #42c294; }

.card-list {
  width: 100%;
  min-height: 300px;
  background-color: #f2f2f2; }
  .card-list .card-list-wrap-top {
    display: flex;
    width: 1000px;
    max-height: 370px;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    .card-list .card-list-wrap-top .left {
      display: flex;
      height: 350px;
      flex-direction: column;
      justify-content: space-between; }
  .card-list .card-list-wrap-middle {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #dddddd;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    .card-list .card-list-wrap-middle .card-n {
      margin-bottom: 20px; }
  .card-list .card-list-wrap-bottom {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }

footer {
  width: 100%; }
  footer .footer-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0; }
    footer .footer-wrap .about {
      display: flex;
      width: 100%;
      padding-top: 30px;
      align-items: center;
      justify-content: space-between; }
      footer .footer-wrap .about .left {
        width: 35%;
        height: 100px;
        background-color: #f2f2f2; }
      footer .footer-wrap .about .right {
        width: 60%; }
        footer .footer-wrap .about .right p {
          color: #333333;
          font-size: 14px; }
        footer .footer-wrap .about .right .right-bottom {
          margin-top: 10px;
          padding-top: 10px; }
    footer .footer-wrap .site-map {
      width: 100%;
      margin: 40px 0 0 0;
      padding: 20px 0;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd; }
      footer .footer-wrap .site-map .logo {
        display: flex;
        padding: 35px 0;
        align-items: center;
        justify-content: center; }
        footer .footer-wrap .site-map .logo img {
          width: 220px;
          height: auto; }
      footer .footer-wrap .site-map .map {
        display: flex;
        width: 100%;
        padding: 35px 0;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between; }
        footer .footer-wrap .site-map .map ul {
          display: block;
          list-style: none; }
          footer .footer-wrap .site-map .map ul li {
            display: block;
            font-size: 13px; }
          footer .footer-wrap .site-map .map ul .title {
            padding: 8px 0;
            font-size: 14px;
            font-weight: bolder; }
    footer .footer-wrap .copyright {
      display: flex;
      width: 100%;
      padding: 15px 0;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 12px; }
      footer .footer-wrap .copyright .right ul li {
        display: inline-block; }

.btn {
  border-radius: 100px;
  padding: 5px 15px;
  font-size: 14px; }
  .btn i {
    color: #fff;
    font-size: 13px;
    font-weight: 200; }

.btn-blue {
  background-color: #20a0e4;
  color: #fff;
  padding: 5px 25px; }

.btn-default {
  padding: 5px 25px;
  border: 1px solid #cccccc;
  color: #333333; }
  .btn-default i {
    color: #20a0e4; }

.card {
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }

.card-h {
  width: 660px;
  height: 165px; }
  .card-h .bg-wrap {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    background-position: center;
    background-size: cover; }

.card-h-s {
  width: 235px;
  height: 70px; }
  .card-h-s .bg-wrap {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    background-position: center;
    background-size: cover; }

.card-v {
  width: 320px;
  height: 350px; }
  .card-v .bg-wrap {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    background-position: center;
    background-size: cover; }

.card-n {
  width: 320px;
  height: 230px; }
  .card-n .bg-wrap {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    background-position: center;
    background-size: cover; }

.v-menu {
  width: 100%; }
  .v-menu ul {
    display: block;
    border-top: 2px solid #20A0E4; }
    .v-menu ul li {
      display: block;
      padding: 15px 10px 10px 20px;
      border-bottom: 1px solid rgba(242, 242, 242, 0.5);
      cursor: pointer; }
      .v-menu ul li:first-child {
        font-weight: bolder; }
      .v-menu ul li:hover {
        background-color: rgba(242, 242, 242, 0.5); }

.l1_main {
  width: 100%;
  background-color: #F2F2F2; }
  .l1_main .l1_hero {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; }
    .l1_main .l1_hero .banner {
      height: 250px;
      width: 1000px;
      margin: 0 auto;
      box-sizing: border-box;
      background-color: #E7E2DF;
      z-index: 10; }
    .l1_main .l1_hero:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 250px;
      background-color: #ffffff; }
  .l1_main .wrapper {
    width: 1000px;
    height: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .l1_main .wrapper .left-col {
      background-color: #fff;
      min-height: 200px;
      width: 250px; }
    .l1_main .wrapper .right-col {
      background-color: #fff; }
