.btn{
    border-radius: 100px;
    padding: 5px 15px;
    font-size: 14px;
    i{
      color: #fff;
      font-size: 13px;
      font-weight: 200;
    }
}
.btn-blue{
  background-color: $main-blue;
  color: #fff;
  padding: 5px 25px;
}

.btn-default{
  padding: 5px 25px;
  border: 1px solid #cccccc; 
  color: $main-font;
  i{
    color: $main-blue;
  }
}