.icon-list{
  margin: 10px auto;
  max-width: 1000px;
  
  .icon-row{
    .title-box{
      height: 130px;
      width: 80px;
      &:before{
        width: 80px;
height: 130px;
-ms-transform: matrix(1, 0.61538, -0.61538, 1, 0, 0);
transform: matrix(1, 0.61538, -0.61538, 1, 0, 0);
}
      }
    }
  }
}