.icon-list {
  display   : flex;
  max-width : 1000px;
  margin    : 10px auto;
  flex-wrap : wrap;

  .icon-row {
    display         : flex;
    padding         : 10px 0;
    align-items     : center;
    justify-content : flex-start;

    .title-box {
      display  : table;
      position : relative;
      width    : 80px;
      height   : 130px;
      overflow : hidden;

      p {
        display        : table-cell;
        position       : relative;
        color          : #fff;
        text-align     : center;
        vertical-align : middle;
      }

      &:before {
        content              : "";
        display              : block;
        position             : absolute;
        top                  : 0;
        width                : 80px;
        height               : 130px;
        -ms-transform        : matrix(1, 0.61538, -0.61538, 1, 0, 0);
        transform            : matrix(1, 0.61538, -0.61538, 1, 0, 0);
        -ms-transform-origin : top right;
        transform-origin     : top right;
      }
    }

    ul {
      padding-left : 30px;

      li {
        display   : inline-block;
        max-width : 150px;
        padding   : 0 15px;

        img {
          display : block;
          margin  : 0 auto;
        }

        span {
          display    : block;
          text-align : center;
        }
      }
    }
  }
}

.bg-blue-dark {
  &:before {
    background-color : #2c74c4;
  }
}

.bg-blue {
  &:before {
    background-color : #37aae7;
  }
}

.bg-green {
  &:before {
    background-color: #42c294;
  }
}
