.main_visual{
  width: 100%;
  .visual_inner{
    max-width: 1400px;
    min-width: $container-width;
    height: 400px;
    margin: 0 auto 30px;
    overflow: hidden;
    background-color: $mock-bg; 
  }
}